.Main-Container{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  text-align: center;
  
}

.Container-2{
  display: flex;
  gap: 40px;
  font-size: 10px;
  align-items: center;
  list-style-type: none;
  

}

.link {
  font-size: 20px;
  color: inherit;
  text-decoration: none;

}
.logo {
  color: inherit;
  text-decoration: none;
  
}
.no{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}